@charset "UTF-8";

/*-----------------------------------------------
    Variables
-----------------------------------------------*/
$blue: #06c;
$light-grey: #F7F7F7;
$dark-grey: #D1D1D1;

/*-----------------------------------------------
	Include
-----------------------------------------------*/
@import "bootstrap";
@import "reset";
@import "dataTables";
@import "icheck";
@import url("//fonts.googleapis.com/css?family=Lato:400,700");

/*-----------------------------------------------
	Box-model
-----------------------------------------------*/
html, body {
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
}

.wrapper {
	display: flex;
	align-items: stretch;
	width: 100%;
	overflow: hidden;
}

h2 {
	font-size: 25px;
	line-height: 35px;
	font-weight: 700;
	letter-spacing: 1px;
}

h3 {
	font-weight: 700;
	margin-bottom: 10px;
}

a {
	color: inherit;
	&:focus, &:hover, &:active {
		color: inherit;
		text-decoration: none;
	}
}

table {
	width: 100%;
}

::-webkit-scrollbar {
	display: none;
}

/*-----------------------------------------------
	Helpers
-----------------------------------------------*/
.relative {
	position: relative;
}

.small-push-top {
	margin-top: 15px;
}

/*-----------------------------------------------
	Sidebar
-----------------------------------------------*/
.sidebar {
	min-width: 20vw;
	max-width: 20vw;
	color: #fff;
	background: $blue;
	@include transition(all 0.5s);

	&.left {
		margin-left: -20vw;
		padding: 22px 15px;
	}

	&.right {
		margin-right: -20vw;
	}

	&.active {
		margin: 0;
	}
}

.toggle {
	position: absolute;
	top: 50%;
	width: 30px;
	height: 30px;
	color: white !important;
	border-radius: 50%;
	background-color: $blue;
	z-index: 1000;
	@include transition(all 0.5s);
	@include translate(0, -50%);

	&:hover, &:active {
		color: $blue !important;
		background-color: white;
	}

	&.active {
		&.active {
			background-color: white;
			color: $blue !important;;

		}
	}

	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate(-50%, -50%);
	}

	&.left {
		left: 15px;
	}

	&.right {
		right: 15px;
	}
}

/*-----------------------------------------------
  Filter
-----------------------------------------------*/
.filter {
	.phase-section {
		table {
			td {
				padding-bottom: 5px;
			}
		}
	}

	.country-section {
		.country-select {
			display: block;
			width: 100%;
			background-color: $blue;
			border: 1px solid white;
			padding: 5px;
			&:focus {
				outline: none;
			}
		}
	}

	.status-section {
		td {
			padding-bottom: 5px;
		}
	}
}

/*-----------------------------------------------
	Chat
-----------------------------------------------*/
.chat-title {
	padding: 22px 15px;
}

.chat {
	height: calc(100vh - 48px - 79px);
	padding: 15px;
	background-color: $blue;
	overflow: scroll;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	& > div {
		margin-top: 15px;
		&:first-of-type{
			margin-top: 0;
		}
	}

	.request, .answer {
		span {
			display: inline-block;
			max-width: 80%;
			background-color: white;
			color: $blue;
			border-radius: 10px;
			padding: 10px;
		}
	}

	.request {
		text-align: right;
	}

	.answer {
		span {
			font-weight: 700;
		}
	}
}

.text-input {
	width: 100%;
	padding: 15px;
	color: $blue;
	border: none;
	outline: none !important;
}

/*-----------------------------------------------
	Content
-----------------------------------------------*/
.content {
	height: 100vh;
	width: 100vw;
	position: relative;
	@include transition(all 0.5s);
}

iframe, #map {
	width: 100%;
	height: 100vh;
	display: block;
}

.map-controls {
	position: absolute;
	top: 15px;
	left: 15px;
	padding: 15px;
	background-color: $blue;
	color: white;
	z-index: 1000;
	font-size: 14px;
	border-radius: 25px;

	div + div {
		margin-top: 5px;
	}

	label {
		padding-left: 5px;
	}
}

#list-view {
	height: calc(100vh - 82px);
	overflow-y: scroll;
}

/*-----------------------------------------------
	Header
-----------------------------------------------*/
header {
	.nav-tabs {
		border: none;
		text-align: center;
		padding: 15px 0;

		li {
			border: none;
			float: none;
			display: inline-block;
			padding: 15px;

			&.active {
				a {
					border: none;
					color: $blue;
				}
				&:focus, &:hover, &:active {
					a {
						cursor: default;
					}
				}
			}

			a {
				font-weight: 700;
				border: none;
				padding: 0;
				margin: 0;
				background-color: transparent !important;
			}

			&:focus, &:hover, &:active {
				background-color: transparent;
				a {
					border: none;
				}
			}
		}
	}

	.name {
		font-weight: 700;
		margin-top: 30px;
	}

	.logo {
		width: 75px;
		display: inline-block;
		margin-top: 23px;
	}
}